These are the ansible variables from the playbook:
you can use them in a template like this:

your application port is {{ list_appport }}
your environment is {{ list_environment }}
your role is {{ list_role }}
